@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Pacifico&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}


.navbar {
    background-color: #e15f41;
}

.nav .nav-item .nav-link.active {
    background-color: #fff;
    color: #e15f41;
}

.nav .nav-item .nav-link,
.container .navbar-brand,
.container .navbar-brand:hover {
    color: #fff;
    cursor: pointer;
}

.container .navbar-toggler {
    background-color: #fff;
}

.section-title {
    font-family: 'Pacifico', 'cursive';
}

.span-title {
    color: #e15f41;
}

#sobre {
    background-color: #ffeae6;
}